body {
    background-color: green;
    color: white;
    text-align: center;
}

ul {
    color:yellow;
    text-align: left;
}

.home-image {
        width: 500px;
        border: 1px solid black;

}